.main__h1 {
  /* background-color: lightblue; */
  padding: 0.75em 0;
  border-bottom: 1px solid black;
}


.comment__main {
  min-height: auto;
}

.date__span {
  font-size: 90%;
  opacity: 0.9;
}

#containerRelatedProducts{
  width: 100%;
  display: flex;
  gap: 1em;
}

.divRP{
  width: 18rem;
  text-align: center;
  cursor: pointer;
}

.carousel {
  width:640px;
  height:360px;
  margin: 1em 0;
}

h2{ 
  padding-top: .5em
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

.carrousel-arrow-bg {
  padding: 0.25em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
