.main__h1 {
  /* background-color: lightblue; */
  padding: 0.75em 0;
  border-bottom: 1px solid black;
}
.main__section {
  margin: 0.75em 0;
}
.main__h3 {
  
}
.main__p {
  
}
.main__div {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}
.main__img {
  height: 12em;
  width: auto;
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.comments__ul {
  margin: 1em 0;
  /* background-color: lightgreen; */
  list-style: none;
  padding: 0;
}

.comments__li {
  width: 100%;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  text-align: center;
}

.comments__header {}

.comment__main {
  min-height: auto;
}

.comments__span {
  font-weight: bold;
}

.date__span {
  font-size: 90%;
  color: rgba(0, 0, 0, 0.7);
}

.section__comments {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

@media ( max-width: 768px ) {
  .main__img {
    width: 100%;
    height: auto;
  }
}

#containerRelatedProducts{
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: row;
}

.divRP{
  width: 20%;
  text-align: center;
  cursor: pointer;
}

.carousel {
  width:640px;
  height:360px;
}

h2{ 
  padding-top: .5em
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

.carrousel-arrow-bg {
  padding: 0.25em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.carousel {
  margin: 1em 0;
}

